body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

header {
    background: #ccc;
    height: 100px;
}

header h1 {
    margin: 0;
    padding-top: 15px;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 500px;
    margin-left: -500px;
    background: #eee;
}

footer {
    clear: left;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
    font-size: 8pt;
}

#wrapper {
    overflow: hidden;
}
            
#content {
    margin-right: 500px; /* Same as 'nav' width */
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

.order_button {
    font-size: 2em;
    border: none;
    color: white;
    background-color: darkolivegreen;
    margin: 4px 2px;
    cursor: pointer;
}

#start_button {
    background-color: darkolivegreen;
}

#stop_button {
    background-color: darkred;
}

#buy_button {
    background-color: #4CAF50;
}

#sell_button {
    background-color: red;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}